<p id="notice"><%= notice %></p>

<h1>Scores</h1>
<%= csrf_meta_tags %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= form_for :score, url: "scores/calculate" do |form| %>
      <%= form.label :score_text %>
      <%= form.text_field :score_text %>

      <%= form.submit 'Calculate' %>
    <% end  %>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.total %></td>
        <td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

